* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}

img {
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
   
}


@media (max-width: 768px) {
    .container {
        width: 100%;
        /* border: 1px solid red; */
    }

   

  
}

/* Header */
.header {
    background-color: #ffffff;
    position: fixed;
    padding: 3px;
    width: 100%;    
    z-index: 1;
}

.header__alinhamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__nav {
    display: flex;
}

.header__menu__estrutura {
    display: flex;
    list-style: none;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-size: 1.562em;
    font-style: italic;
    text-shadow: 1px 1px #775e5e;
}
.logo__descricao{
    font-size: 0.825em;

}

.logo:hover {
    color: coral;
}

.header__menu {
    display: flex;
    margin-right: 25px;
    font-size: 1.125em;
    
}

.header__menu__a {
    color: black;
    text-decoration: none;
}

.header__menu__a:hover {
    color: coral;
}

@media (max-width: 768px) {
    .header {
        position: relative;
    }
}

@media (max-width: 500px) {
    .header__menu__estrutura {
        display: none;
    }
}

/* Main */
.main {
    background-image: url('../img/fundo-2.jpg');
    background-size: cover;
    padding: 240px 0;
}


.titulo {
    display: flex;
    justify-content: center;
    color: #ffff;
    font-size: 1.625em;
    padding: 25px;
    animation: logo 10s;
}


@keyframes logo {
    from {
        opacity: 0;
        transform: translateX(-100deg);
        
    }
    to {
        opacity: 1;
        transform: translateX(100deg);
       
    }
}

@media (max-width: 500px) {
    .main{
      /* padding: 200px; */
      }  
  }
/* Icones */

.icones {
    display: flex;
    justify-content: center;
}


.icones__estrutura {
    list-style: none;
    display: flex;
    justify-content: center;
}

.icones__itens {
    margin-right: 25px;
    width: 22px;
    height: 22px;
    overflow: hidden;
    padding: 2px;
    
}



.icone__mouse__posicao {
    display: flex;
    justify-content: center;
    position: relative;
    top: 220px;
}

.icone__mouse {
    display: flex;
    justify-content: center;
    width: 40px;
    animation: mouse 1.5s ease-in-out infinite;
}

@keyframes mouse {
    0%, 100% { transform: translateY(-15%)}
    50%   { transform: translateY(15%)}
  }

/* conhecimentos */

.section__conhecimento {
    margin-top: 100px;
}

  
  @keyframes fade-in {
      0% { 
        opacity: 0;
        transform: translateY(50%);
    }
    100% { 
      opacity: 1;
      transform: translateY(0);
    }
  }
.conhecimentos {
    display: flex;
    justify-content: space-between;

}

.conhecimento__imagens {
    width: 50px;
    padding-bottom: 7px;
}

.web__design {
    max-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.web__development {
    max-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responsive__design {
   max-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conhecimento__descricao {
    text-align: center;
    line-height: 1.4em;
    font-size: 0.937em;
    max-width: 80%;
    margin-bottom: 80px;
}

.descricao__imagem {
    padding-bottom: 8px;
    text-transform: uppercase;
    text-shadow: 1px 0px black;
    font-size: 1.125em;
}

@media (max-width: 768px) {
    .conhecimentos {
        flex-direction: column;
        
    }
    .conhecimento__descricao {
        max-width: 90%;
    }

    .web__design {
        max-width: 100%;
    }
    .web__development {
        max-width: 100%;
    }
    .responsive__design {
        max-width: 100%;
    }
}

/* About */


.section__about {
    margin-top: 100px;
    background-color: #f7f7f7;
}
.about {
    display: flex;
    justify-content: center;
    font-size: 1.725em;
    color: #bfbdbd;
    text-transform: uppercase;
    text-shadow: 1px 1px lightgrey;
    padding: 2px;
}

.about__span {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.125em;
    text-shadow: 1px 0px;
}


.about__conteudo__principal {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}


.about__posicao__imagem{
    display: flex;
    justify-content: end;
    max-width: 50%;
}


.about__imagem {
    width: 55%;
    padding-left: 80px;
}

.about__caracteristicas {
    max-width: 50%;
}

.about__bloco {
    margin-bottom: 36px;
}

.about__descricao {
    margin-bottom: 25px;
    color: #4c4a4a;
}

.about__conhecimento {
    display: flex;
    justify-content: space-between;
    color: black;
    margin-bottom: 12px;
    text-shadow: 1px 0px;
  }

.about__porcentagem__architecture {
    position: relative;
    right: 0;
  }

.retangulo__architecture {
    width: 100%;
    height: 10px;
    background-color: #a7a7a73b;
    border-radius: 6px;
  }

.retangulo__architecture__laranja {
    position: absolute;
    background-color: #ff6500;
    width: 50%;
    border-radius: 25px;
    height: 10px;
  
}

.retangulo__agile__methodology {
    width: 100%;
    height: 10px;
    background-color: #a7a7a73b;
    border-radius: 6px;
}

.retangulo__agile__methodology__laranja {
    position: absolute;
    background-color: #ff6500;
    width: 63%;
    border-radius: 25px;
    height: 10px;
}

.about__porcentagem__agile__methodology {
    position: relative;
    right: 0;
  }


.retangulo__web__design {
    width: 100%;
    height: 10px;
    background-color: #a7a7a73b;
    border-radius: 6px;
}

.retangulo__web__design__laranja {
    position: absolute;
    background-color: #ff6500;
    width: 74%;
    border-radius: 25px;
    height: 10px;
}

.about__porcentagem__web__design {
    position: relative;
    right: 0;
  }


  .retangulo__web__development {
    width: 100%;
    height: 10px;
    background-color: #a7a7a73b;
    border-radius: 6px;
}

.retangulo__web__development__laranja {
    position: absolute;
    background-color: #ff6500;
    width: 88%;
    border-radius: 25px;
    height: 10px;
}

.about__porcentagem__web__development  {
    position: relative;
    right: 0;
}
  

.botoes {
    display: flex;
}

.botao__hirf{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 25%;
    color: #ffff;
    background-color: #000000d4;
    text-transform: uppercase;
    font-size: 0.822em;
    text-align: center;
    font-style: italic;
    margin-right: 10px;
}

.botao__download{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 25%;
    color: #ffff;
    background-color: #000000d4;
    text-transform: uppercase;
    font-size: 0.822em;
    text-align: center;
    font-style: italic;
    margin-right: 10px;
    padding-left: 5px;
}
  

.botao__icone {
    width: 13px;
    display: flex;
    padding-left: 10px;
}

@media (max-width: 768px) {

    .about__alinhamento {
        align-items: center;
    }
    .about__posicao__imagem{
        justify-content: center;
    }
    .about__imagem {
        padding: 25px;
        width: 100%;
    }
    .about__conteudo__principal {
       
        flex-direction: column;
        align-items: center;
    }

    .about__caracteristicas {
        max-width: 90%;

    }


    .about__porcentagem__architecture,
    .about__porcentagem__agile__methodology, 
    .about__porcentagem__web__design, 
    .about__porcentagem__web__development 
    {
        right: 0;
    }

    .botao__hirf, .botao__download {
        width: 50%;
    }

}

@media (max-width: 500px) {
    .about__alinhamento {
        align-items: center;
    }
    .about__posicao__imagem{
        justify-content: center;
    }
    .about__imagem {
        padding: 25px;
        width: 100%;
    }
    .about__caracteristicas {
        max-width: 90%;

    }

    .about__porcentagem__architecture,
    .about__porcentagem__agile__methodology, 
    .about__porcentagem__web__design, 
    .about__porcentagem__web__development 
    {
        right: 0;
    }

    .about__conteudo__principal {
       
        flex-direction: column;
        align-items: center;
    }

    .botao__hirf, .botao__download {
        width: 50%;
    }
}

/* Fundo preto */

.fundo {
    background-color:#252525;
    padding: 55px;
}
.fundo__posicao {
    display: flex;
    justify-content: space-between;
}

.fundo__icone {
  
    width: 14px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color__total {
    color: #ffffff;
    font-weight: 900;
}

.fundo__coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.satisfacao__clientes {
    display: flex;
    margin-bottom: 12px;
}


.experiencia {
    display: flex;
    margin-bottom: 12px;
}

.membros {
    display: flex;
    margin-bottom: 12px;
}

.pontos {
    display: flex;
    margin-bottom: 12px;
}

.descricao {
    color: #ffffff;
    font-size: 1.125em;
}


@media (max-width: 768px) {
   .fundo__posicao {
     flex-direction: column;
     align-items: center;
   }
   .fundo__coluna {
    margin-bottom: 23px;
   }
   .satisfacao__clientes, .experiencia, .membros, .pontos {
   
    margin-bottom: 4px;
}
  
}

@media (max-width: 500px) {
    .fundo__posicao {
        flex-direction: column;
        align-items: center;
      }
      .fundo__coluna {
       margin-bottom: 23px;
      }
      .satisfacao__clientes, .experiencia, .membros, .pontos {
      
        margin-bottom: 4px;
   }
}

/* Recent work */


.work {
    margin-top: 30px;
}

.work__titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.recent__work {

    font-size: 1.725em;
    color: #bfbdbd;
    text-transform: uppercase;
    text-shadow: 1px 1px lightgrey;
    padding: 2px;
    margin-bottom: 5px;
}

.portfolio {
     
    text-transform: uppercase;
    font-size: 1.125em;
    text-shadow: 1px 0px;
}

.nav__lista {
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
}

.lista__estrutura{
    display: flex;
    list-style: none;
}

.lista__trabalhos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.lista__trabalhos__a {
   text-decoration: none;
   color: #000000de;
   font-size: 1.125em;
    
}

.lista__trabalhos__a:hover {
    color: coral;
}

.fotos__posicao {
    display: flex;
}

.fotos {
    display: flex;
    justify-content: center;
}

.fotos__trabalho {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 25px;
   
}


.tamanho__fotos1 {
    width: 33%;
}

.tamanho__fotos2 {
    width: 33%;
}
.tamanho__fotos3 {
    width: 33%;
}

@media (max-width: 768px) {
    .fotos__posicao__blog  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lista__estrutura {
        flex-direction: column;
    }

    .lista__trabalhos__a  {
        margin-bottom: 10px;
        border-bottom: 1px solid;
    }

 }



 @media (max-width: 500px) {
    .fotos__posicao__blog  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lista__estrutura {
        flex-direction: column;
    }

    .lista__trabalhos__a  {
        margin-bottom: 10px;
        border-bottom: 1px solid;
    }

 }
 

/* section blog */
.section__read {
    margin-top: 65px;
    background-color: #d3d3d33b;
}
.read__titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 55px 0;
}

.read__more {

    font-size: 1.725em;
    color: #bfbdbd;
    text-transform: uppercase;
    text-shadow: 1px 1px lightgrey;
    padding: 2px;
    margin-bottom: 5px;
}

.blog {
     
    text-transform: uppercase;
    font-size: 1.125em;
    text-shadow: 1px 0px;
}
.fotos__posicao__blog {
    display: flex;
    justify-content: center;
   
   
}

.tamanho__fotos1__blog {
    width: 33%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tamanho__fotos2__blog{
    width: 33%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.tamanho__fotos3__blog {
    width: 33%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}



.fotos__blog {
    display: flex;
    height: 215px;
    
    
}

.fotos__trabalho__blog {
    width: 100%;
    height: 157px;
    overflow: hidden;
    margin-right: 20px;
}


.foto__data {
    font-size: 1.25em;
    background: #252525;
    line-height: 1em;
    width: 94%;
    color: white;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    border-bottom: 2px solid #ff1500eb;
    position: absolute;
    top: 34%;
}
.read__conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.read__titulo__descricao {
   
    margin-bottom: 24px;
    margin-right: 6px;
    font-size: 1.125em;
    font-style: italic;
}

.read__descricao {
    margin-top: 8px;
    font-size: 0.925em;
    max-width: 100%;
    line-height: 1.4em;
    color: #252525eb;
}


@media (max-width: 768px) {
    .fotos__posicao__blog  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         margin-right: 0;

    }
    .titulo__read__projeto{
        font-size: 1.375em;
        text-transform: capitalize;
        margin: 30px 0;
    }

    .tamanho__fotos1__blog, .tamanho__fotos2__blog, .tamanho__fotos3__blog {
        width: 100%;
    }
    .read__conteudo {
            margin: 30px 0;
        }
    .foto__data {
        display: none;
    }
    .fotos__trabalho__blog {
        height: 287px;
        background-color: none;
        display: flex;
       justify-content: center;
       align-items: center;
       margin-right: 0;
    }
   
    .read__descricao {
        text-align: center;
        font-size: 1.25em;
    }

    .read__titulo__descricao {
        margin: 80px 0;
        text-align: center;
        /* font-size: 1.25em; */
        width: 90%;
    }
 }
 
 @media (max-width: 500px) {
    .fotos__posicao__blog  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .foto__data {
        display: none;
    }
   
    .fotos__blog {
        height: 120px;
        margin-right: 0;
    }
    .read__descricao {
    
        text-align: justify;
        font-size: 1.25em;
    }

    .read__titulo__descricao {
        
        text-align: center;
        font-size: 1.25em;
    
    }
 }

 
 


/* Section Get in touch */
.get {
    margin-top: 40px;
}
.get__container {
    width: 50%;
    
}
.get__conteudo {
    display: flex;
}

.get__titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    padding: 60px 0;
}

.get__in__touch {

    font-size: 1.725em;
    color: #bfbdbd;
    text-transform: uppercase;
    text-shadow: 1px 1px lightgrey;
    margin-bottom: 5px;
}

.get__say {
     
    text-transform: uppercase;
    font-size: 1.125em;
    text-shadow: 1px 0px;
}

.get__phone {
    font-size: 1.125em;
    color: #ff5200;
    font-style: italic;
    padding-bottom: 25px;
}

.get__phone__number {
    color: #000000c7;
    margin-top: 8px;
    font-size: 1em;
    font-style: italic;
}

.get__email {
    font-size: 1.125em;
    color: #ff5200;
    font-style: italic;
    padding-bottom: 25px;
}

.get__email__description {
    color: #000000c7;
    margin-top: 8px;
    font-size: 1em;
    font-style: italic;
}

.get__addres {
    font-size: 1.125em;
    color: #ff5200;
    font-style: italic;
    padding-bottom: 25px;
}

.get__addres__description {
    color: #000000c7;
    margin-top: 8px;
    font-size: 1em;
    font-style: italic;
}
.get__icones__container {
    display: flex;
}
.get__icones {
    display: flex;
    justify-content: center;
}


.get__icones__estrutura {
    list-style: none;
    display: flex;
    justify-content: center;
}

.get__icones__itens {
    margin-right: 25px;
    width: 15px;
    padding: 2px;
    
}

.get__container__input {
    padding-top: 19%;
}

.get__name__email {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.get__input__email {
    display: flex;
    flex-direction: column;


}
.input__email {
    border: none;
    border-bottom: 1px solid #9a9a9a;
    width: 220px;
}
.get__input__name {
    display: flex;
    flex-direction: column;
    margin-right: 60px;

}
.input__name {
    border: none;
    border-bottom: 1px solid #9a9a9a;
    width: 220px;
}

.label {
    font-size: 1.125em;
    font-weight: 500;
}

.get__subject {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.input__subject {
    border: none;
    border-bottom: 1px solid #9a9a9a;
}

.get__message {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.text__message {
    border: none;
    border-bottom: 1px solid #9a9a9a;
    max-width: 100%;
    max-height: 75px;
    resize: none;
}

.get__botao {
    display: flex;
    width: 29%;
    color: white;
    font-size: 0.925em;
    background-color:#252525;
    padding: 9px;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .get__conteudo  {
        flex-direction: column;
    }
    .get__container__input {
        justify-content: end;
        flex-direction: column;
    }
    .get__input__name {
        margin-right: 0;
    }
    .input__name, .input__email, .input__subject {
        margin-bottom: 25px;
        width: 100%;
    }
    .label {
        margin-bottom: 12px;
    }
    .get__botao {
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 55px;
       }

    .get__name__email {
        flex-direction: column;
        align-items: end;
    }
 }
 
 @media (max-width: 500px) {
    .get__conteudo  {
        flex-direction: column;
    }

    .get__container__input {
        justify-content: end;
        flex-direction: column;
    }

    .get__input__name {
        margin-right: 0;
    }
    .label {
        margin-bottom: 12px;
    }
    
    .input__name, .input__email, .input__subject {
        margin-bottom: 25px;
        width: 100%;
    }
   .get__botao {
    justify-content: center;
    align-items: center;
    width: 52%;
    height: 55px;
   }
 }

 
 

/* footer */

.footer {
    padding: 16px;
    background-color: #ff5200;
    margin-top: 100px;
}

.footer__descricao {
    display: flex;
    justify-content: center;
    font-size: 1.125em;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}



/* ANIMAÇÃO */

[data-animacao] {
    opacity: 0;
    transition:  .3s;
}

[data-animacao="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-animacao="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-animacao="top"]{
    transform: translate3d(0, -50px, 0);
}

[data-animacao].animate {
    opacity: 1;
    transform: translate3d(0px, 0px,0px);
}