* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}

img {
    width: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid red;
}

/* Header */
.header {
    background-color: #ffffff;
    position: fixed;
    padding: 3px;
    width: 100%;
}

.header__alinhamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__nav {
    display: flex;
}

.header__menu__estrutura {
    display: flex;
    list-style: none;
}

.logo {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.562em;
    font-style: italic;
    text-shadow: 1px 1px #775e5e;
}

.header__menu {
    display: flex;
    margin-right: 25px;
    font-size: 1.125em;
    
}

.header__menu__a {
    color: black;
    text-decoration: none;
}




/* Main */
.main {
    background-image: url('../img/fundo-2.jpg');
    background-size: cover;
    padding: 240px 0;
}


.titulo {
    display: flex;
    justify-content: center;
    color: #ffff;
    font-size: 1.625em;
    padding: 25px;
    animation: logo 10s;
}


@keyframes logo {
    from {
        opacity: 0;
        transform: translateX(-100deg);
        
    }
    to {
        opacity: 1;
        transform: translateX(100deg);
       
    }
}

/* Icones */

.icones {
    display: flex;
    justify-content: center;
}


.icones__estrutura {
    list-style: none;
    display: flex;
    justify-content: center;
}

.icones__itens {
    margin-right: 25px;
    width: 22px;
    height: 22px;
    /* border-radius: 50%; */
    /* background: #f4f5f7; */
    overflow: hidden;
    padding: 2px;
    
}

.icone__mouse__posicao {
    display: flex;
    justify-content: center;
    position: relative;
    top: 220px;
}

.icone__mouse {
    display: flex;
    justify-content: center;
    width: 40px;
    animation: logo 8s;
}