* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}

img {
    width: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid red;
}

/* Header */
.header {
    background-color: #ffffff;
    position: fixed;
    padding: 3px;
    width: 100%;
}

.header__alinhamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__nav {
    display: flex;
}

.header__menu__estrutura {
    display: flex;
    list-style: none;
}

.logo {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.562em;
    font-style: italic;
    text-shadow: 1px 1px #775e5e;
}
.logo:hover {
    color:#66d1f7;
}

.header__menu {
    display: flex;
    margin-right: 25px;
    font-size: 1.125em;
    
}

.header__menu__a {
    color: black;
    text-decoration: none;
}

.header__menu__a:hover {
    color:#66d1f7;
}




/* Main */
.main {
    background-image: url('../img/fundo-2.jpg');
    background-size: cover;
    padding: 240px 0;
}


.titulo {
    display: flex;
    justify-content: center;
    color: #ffff;
    font-size: 1.625em;
    padding: 25px;
    animation: logo 10s;
}


@keyframes logo {
    from {
        opacity: 0;
        transform: translateX(-100deg);
        
    }
    to {
        opacity: 1;
        transform: translateX(100deg);
       
    }
}

/* Icones */

.icones {
    display: flex;
    justify-content: center;
}


.icones__estrutura {
    list-style: none;
    display: flex;
    justify-content: center;
}

.icones__itens {
    margin-right: 25px;
    width: 22px;
    height: 22px;
    /* border-radius: 50%; */
    /* background: #f4f5f7; */
    overflow: hidden;
    padding: 2px;
    
}



.icone__mouse__posicao {
    display: flex;
    justify-content: center;
    position: relative;
    top: 220px;
}

.icone__mouse {
    display: flex;
    justify-content: center;
    width: 40px;
    animation: logo 8s;
}

/* conhecimentos */

.section__conhecimento {
    margin-top: 100px;
}
.conhecimentos {
    display: flex;
    justify-content: space-between;

}

.conhecimento__imagens {
    width: 50px;
    padding-bottom: 7px;
}

.web__design {
    max-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.web__development {
    max-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responsive__design {
   max-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conhecimento__descricao {
    text-align: center;
    line-height: 1.4em;
    font-size: 0.937em;
    max-width: 80%;
    margin-bottom: 80px;
}

.descricao__imagem {
    padding-bottom: 8px;
    text-transform: uppercase;
    text-shadow: 1px 0px black;
    font-size: 1.125em;
}


/* About */


.section__about {
    margin-top: 100px;
    background-color: #f7f7f7;
}
.about {
    display: flex;
    justify-content: center;
    font-size: 1.725em;
    color: #bfbdbd;
    text-transform: uppercase;
    text-shadow: 1px 1px lightgrey;
    padding: 2px;
}

.about__span {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.125em;
    text-shadow: 1px 0px;
}


.about__conteudo__principal {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}


.about__posicao__imagem{
    display: flex;
    justify-content: end;
    max-width: 50%;
}


.about__imagem {
    width: 55%;
    padding-left: 80px;
}

.about__caracteristicas {
    max-width: 50%;
}

.about__bloco {
    margin-bottom: 36px;
}

.about__descricao {
    margin-bottom: 25px;
    color: #4c4a4a;
}

.about__conhecimento {
    display: flex;
    justify-content: space-between;
    color: black;
    margin-bottom: 12px;
    text-shadow: 1px 0px;
  }

.about__porcentagem__photoshop {
    position: relative;
    right: 120px;
  }

.retangulo__photoshop {
    width: 100%;
    height: 10px;
    background-color: #a7a7a73b;
    border-radius: 6px;
  }

.retangulo__photoshop__laranja {
    position: absolute;
    background-color: #ff6500;
    width: 28%;
    border-radius: 25px;
    height: 10px;
  
}

.retangulo__ilustrator {
    width: 100%;
    height: 10px;
    background-color: #a7a7a73b;
    border-radius: 6px;
}

.retangulo__ilustrator__laranja {
    position: absolute;
    background-color: #ff6500;
    width: 31%;
    border-radius: 25px;
    height: 10px;
}

.about__porcentagem__ilustrator {
    position: relative;
    right: 80px;
  }


.retangulo__web__design {
    width: 100%;
    height: 10px;
    background-color: #a7a7a73b;
    border-radius: 6px;
}

.retangulo__web__design__laranja {
    position: absolute;
    background-color: #ff6500;
    width: 25%;
    border-radius: 25px;
    height: 10px;
}

.about__porcentagem__web__design {
    position: relative;
    right: 162px;
  }


  .retangulo__web__development {
    width: 100%;
    height: 10px;
    background-color: #a7a7a73b;
    border-radius: 6px;
}

.retangulo__web__development__laranja {
    position: absolute;
    background-color: #ff6500;
    width: 35%;
    border-radius: 25px;
    height: 10px;
}

.about__porcentagem__web__development  {
    position: relative;
    right: 29px;
}
  

.botoes {
    display: flex;
}

.botao__hirf{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 25%;
    color: #ffff;
    background-color: #000000d4;
    text-transform: uppercase;
    font-size: 0.822em;
    text-align: center;
    font-style: italic;
    margin-right: 10px;
}

.botao__download{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 25%;
    color: #ffff;
    background-color: #000000d4;
    text-transform: uppercase;
    font-size: 0.822em;
    text-align: center;
    font-style: italic;
    margin-right: 10px;
    padding-left: 5px;
}
  

.botao__icone {
    width: 13px;
    display: flex;
    padding-left: 10px;
}

/* Fundo preto */

.fundo {
    background-color: #0e0d0de6;
    padding: 55px;
}
.fundo__posicao {
    display: flex;
    justify-content: space-around;
}

.fundo__icone {
  
    width: 14px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color__total {
    color: #ffffff;
    font-weight: 900;
}

.fundo__coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.satisfacao__clientes {
    display: flex;
    margin-bottom: 12px;
}


.experiencia {
    display: flex;
    margin-bottom: 12px;
}

.membros {
    display: flex;
    margin-bottom: 12px;
}

.pontos {
    display: flex;
    margin-bottom: 12px;
}

.descricao {
    color: #ffffff;
    font-size: 1.125em;
}

/* Recent work */


.work {
    margin-top: 30px;
}

.work__titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.recent__work {

    font-size: 1.725em;
    color: #bfbdbd;
    text-transform: uppercase;
    text-shadow: 1px 1px lightgrey;
    padding: 2px;
    margin-bottom: 5px;
}

.portfolio {
     
    text-transform: uppercase;
    font-size: 1.125em;
    text-shadow: 1px 0px;
}

.nav__lista {
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
}

.lista__estrutura{
    display: flex;
    list-style: none;
}

.lista__trabalhos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.lista__trabalhos__a {
   text-decoration: none;
   color: #000000de;
   font-size: 1.125em;
    
}

.lista__trabalhos__a:hover {
    color: coral;
}

.fotos__posicao {
    display: flex;
}

.fotos {
    display: flex;
    justify-content: center;
}

.fotos__trabalho {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.tamanho__fotos1 {
    width: 33%;
}

.tamanho__fotos2 {
    width: 33%;
}
.tamanho__fotos3 {
    width: 33%;
}